a{
	color:green;
}

nav{
	background-color: yellow;
}

input{
	font-size: 14px;
	width: 600px;
	color:red;
	}
button{
	width: 500px;
	height: 60px;
	background-color: white;
	text: black;
}
.green{
	color:green;
	letter-spacing: 10px;
}

.brown{
	color:brown;
	letter-spacing: 10px;
}
footer{
	background-color: black;
	width: 400px;
	height: 50px;
	font-size: 20px;
}